body{
    margin: 0;
    
}
html{
    scroll-behavior: smooth;
}
.header{
    background-image: url('./img/header.png') ;
    height: 100vh;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;
    margin: 30px 50px 0px 50px;
    align-items: center;
}
.navigation a {
    color: white;
    text-decoration: none;
}
.navigation a:hover {
    color: #b48a4e;
}
.nav_links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_links a {
    margin-left: 30px;
}
.logo{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.social_logo{
    height: 20px;
    width: 20px;
    object-fit: contain;
}
.social_logo:hover {
    filter: drop-shadow(0px 0px 4px #FFFFFF);
    cursor: pointer;
}
.textgroup1{
    font-family: 'Viga', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.textgroup1 h1{
    font-size: 90px;
    margin: 0px;
    text-align: center;
}
.textgroup1 span{
    margin: 0px 0px 60px 0px;
}
.textgroup1 a{
    color: white;
    padding: 10px 20px 10px 20px;
    background-color: #b48a4e;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    opacity: 0.8;
}
.pic_row{   
    background-color: black;    
    padding: 80px 50px 80px 50px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    

}
.quick_link {
    flex-direction: column;
    display: flex;
    color: #b48a4e;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    gap: 8px;  
    flex: 1;  
}
.quick_link img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}
.festival{
    display: flex;
    background-color: #272727;
    align-items: center;
}
.festival img{
    height: 300px;
    width: 300px;
}
.textgroup2{
    font-family: 'PT Sans', sans-serif;
    color: white;
    padding-left: 40px;
    flex: 1;
}
.textgroup2 h2 {
    margin-block-start: 0;
}
.seperator {
    background-color: white;
    width: 1px;
    height: 200px;
    margin-right: 10px;
}
.buy-ticket{
    max-width: 300px;
    padding: 0px 24px 40px 14px;
}
.textgroup3 {
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #b48a4e;
    margin: 40px 0px 40px 0px;
    text-align: center;
}
.video {
    background-image: url('./img/bottom.png');
    height: 600px;
    background-size: cover;
    background-position: center;
}
.footer{
    display: flex;
    color: white;
    background-color: black;
    padding: 50px;
    justify-content: space-between;
}
.footer_img{
display: flex;
}
.footer_img img{
    height: 40px ;
    width: 40px;
    padding: 0px 0px 30px 30px; ;
}
.footer_submit{
    display: flex;
}
.footer_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_text {
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

input::placeholder{
    color: rgba(0,0,0,0.4);
    padding-left: 16px;
}

@media(max-width:700px){
    .hide_mobile{
        display: none;
    }
    .textgroup1 h1 {
        font-size: 60px;
    }
}

@media(max-width:600px){
    .pic_row{
        flex-direction: column;
        gap: 100px;
    }
}
@media(max-width:800px){
    .festival{
        flex-direction: column;
    }
    .festival img {
        width: 100%;
        object-fit: cover;
    }
    .seperator{
       display: none;        
    }
    .footer{
        flex-direction: column;
    }
    .footer_text{
        justify-content: center;
        text-align: center;
    }

}